
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Indie+Flower&family=Quicksand:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #09f;
    position: absolute;
    top: 10%;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin: 0.5em;
    font-size: 4rem;
    font-family: 'Amatic SC', cursive;
}

.container {
    display: flex;
    padding: 1em 1em;
    width: 100%;
    justify-content: space-around;
}

.dishes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: auto;
    padding: 1em;
    margin: 0.5em
}

.recipes_name {
    list-style-type: none;
    font-size: 1.5em;
    font-family: 'Quicksand', sans-serif;
    margin: 1em
}

.dish_pic {
    width: 350px;
    height: auto;
    border-radius: 5%;
}

a {
    cursor: pointer;
    color: black;
}